.inspiration_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 6rem 5% .2rem 5%;
    gap: 6rem;
    background-color: #fff;
}


/* Styles for responsiveness */
@media (min-width: 640px) {
    
  }
  
  /* mobile */
  @media (min-width: 768px) {
    
  }
  
  @media (min-width: 1024px){
    
  }