.listing_right{
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

.listing_right_icon_text{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: .5rem;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #6B7280;  
}