.listing_admin_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.listing_admin_title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #6b7280;
}

.listing_admin-listing {
  width: 60%;
  height: fit-content;
  display: flex;
  gap: 1.5rem;
}

.listing_admin-listing-image {
  width: 30%;
  object-fit: fill;
  border-radius: 0.5rem;
}

.listing_admin_content {
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listing_admin_header {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title-admin {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #6b7280;
}

.sub-admin {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #374151;
}

.div-adim {
  width: 10%;
}

.listing_admin_details {
  width: 100%;
  height: fit-content;
}

.text-admin {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #6b7280;
}

.details_top,
.details_bottom {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0%;
  color: #6b7280;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.ellipse {
  width: 2px;
  height: 2px;
  background-color: #4b5563;
  border-radius: 50%;
}

.location_detail_footer {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.review {
  width: 70%;
  height: fit-content;
  display: flex;
  gap: 0.25rem;
}

.review .number {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0%;
  color: #374151;
}
.star {
  width: 1.25rem;
  height: auto;
}

.number_reviews {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0%;
  color: #374151;
}

.price {
  width: fit-content;
  height: fit-content;
  display: flex;
}

.price p {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0%;
  color: #374151;
}

.para_bottom {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0%;
  color: #374151;
}

.listing_admin_button {
  width: 18%;
  height: fit-content;
  border-radius: 0.5rem;
  border: none;
  padding: 0.75rem 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0%;
  color: white;
}

.blue{
    background-color: #4153F5;
}

.red{
    background-color: #DE3151;
}
