.location_list_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 0 2.5rem 0;
}

.locations_text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0%;
  color: #6B7280;
}

